.processo {
  @extend .col-12;
  padding: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;


  &__title {
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
    color: $cinza-padrao;

    h2 {
      font-weight: 600;
      font-size: 1.7em;
      margin-top: 1rem;
    }

    i {
      font-family: 'Libre Baskerville', serif;
      font-style: italic;
      font-weight: 400;
    }

    span {
      padding: 4px 14px;
      border-radius: 100px;
      background-color: rgba(45, 222, 130, 0.1);
      text-transform: uppercase;
      color: $verde-padrao;
      font-size: .8em;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

  &__conteudo {
    @extend .col-12;
    padding: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4rem;

    .processo__item {
      @extend .col-12;
      text-align: center;
      padding: 0;
      margin-top: 1rem;
      margin-bottom: 3rem;

      img {
        @extend .img-fluid;
        //display: inline-block;
      }

      h3 {
        padding-top: 1.5rem;
        color: $cinza-padrao;
        font-size: 1em;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }



  @media(min-width:map-get($grid-breakpoints, md)) {


    &__conteudo {
      .processo__item {
        @include make-col(2);
        margin-right: percentage(1/12);
        margin-top: 0;
        margin-bottom: 0;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  @media(min-width:map-get($grid-breakpoints, lg)) {
    &__conteudo {
      &:before {
        content: '';
        position: absolute;
        left: -150px;
        right: -150px;
        height: 200px;
        display: block;
        background: url(../img/traco.png) center center no-repeat;
      }
    }
  }

  @media(min-width: 1920px) {
    &__conteudo {
      &:before {
        right: -200px;
        left: -200px;
      }
    }
  }


}